$blupoint-dark-blue: #142650
$blupoint-blue: #3660BF
$blupoint-button-hover-blue: #345bb3
$blupoint-light-blue: #03bafc
$white: #FFFFFF
$black: #000000

.row-container
    display: flex
    flex-direction: row
    flex-wrap: wrap
    align-items: center
    justify-content: center
    margin: 10px 0

.menu
    background-color: $white
    min-height: 100vh
    padding: 15px

.config-control
    margin: 10px

.modal-container
    margin-top: 50px

.modal-card
    max-height: 500px

.room-title
    margin-top: 5px

.sensor-icon
    width: 40px
    height: auto

.id-card-label
    margin: 1px
    font-size: 14px
    line-height: 14px

